@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #D5CEA3;
    --cor-secundaria: #1A120B;
    --cor-terciaria: #3C2A21;
    --cor-hover: #E5E5CB;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}